In [0]:
import bs4
import pandas as pd
import numpy as np
import requests

In [0]:
wiki_url = "https://en.wikipedia.org/wiki/Data_science"
page = requests.get(wiki_url).text
bs_obj = bs4.BeautifulSoup(page)
type(bs_obj)

bs4.BeautifulSoup

## Get All Paragraphs

In [0]:
paras = bs_obj.findAll('p')
type(paras)

bs4.element.ResultSet

In [0]:
#len(paras) # Identity number of paragraphs scraped
# paras[1] # Get the second paragraph tag
# paras[1].text # Get content of the tag

In [0]:
paras_text =  
len(paras_text)
paras_text[1]
type(paras_text[1])
paras_text[10]

'Around 2007,[citation needed] Turing award winner Jim Gray envisioned "data-driven science" as a "fourth paradigm" of science that uses the computational analysis of large data as primary scientific method[4][5] and "to have a world in which all of the science literature is online, all of the science data is online, and they interoperate with each other."[26]\n'

In [0]:
''.join(['a', 'b', 'c', 'd'])

'abcd'

In [0]:
wiki_text = ''.join(paras_text)
wiki_text

'\nData science is an interdisciplinary field that uses scientific methods, processes, algorithms and systems to extract knowledge and insights from data in various forms, both structured and unstructured,[1][2] similar to data mining.\nData science is a "concept to unify statistics, data analysis, machine learning and their related methods" in order to "understand and analyze actual phenomena" with data.[3] It employs techniques and theories drawn from many fields within the context of mathematics, statistics, information science, and computer science.\nTuring award winner Jim Gray imagined data science as a "fourth paradigm" of science (empirical, theoretical, computational and now data-driven) and asserted that "everything about science is changing because of the impact of information technology" and the data deluge.[4][5]\nIn 2012, when Harvard Business Review called it "The Sexiest Job of the 21st Century",[6] the term "data science" became a buzzword.  It is now often used interchangeably with earlier concepts like business analytics,[7] business intelligence, predictive modeling, and statistics.  Even the suggestion that data science is sexy was paraphrasing Hans Rosling, featured in a 2011 BBC documentary with the quote, "Statistics is now the sexiest subject around."[8] Nate Silver referred to data science as a sexed up term for statistics.[9]   In many cases, earlier approaches and solutions are now simply rebranded as "data science" to be more attractive, which can cause the term to become "dilute[d] beyond usefulness."[10] While many university programs now offer a data science degree, there exists no consensus on a definition or suitable curriculum contents.[7] To its discredit, however, many data-science and big-data projects fail to deliver useful results, often as a result of poor management and utilization of resources.[11][12][13][14]\nThe term "data science" has appeared in various contexts over the past thirty years but did not become an established term until recently. In an early usage, it was used as a substitute for computer science by Peter Naur in 1960. Naur later introduced the term "datalogy".[15] In 1974, Naur published Concise Survey of Computer Methods, which freely used the term data science in its survey of the contemporary data processing methods that are used in a wide range of applications.\nIn 1996, members of the International Federation of Classification Societies (IFCS) met in Kobe for their biennial conference. Here, for the first time, the term data science is included in the title of the conference ("Data Science, classification, and related methods"),[16] after the term was introduced in a roundtable discussion by Chikio Hayashi.[3]\nIn November 1997, C.F. Jeff Wu gave the inaugural lecture entitled "Statistics = Data Science?"[17] for his appointment to the H. C. Carver Professorship at the University of Michigan.[18]\nIn this lecture, he characterized statistical work as a trilogy of data collection, data modeling and analysis, and decision making. In his conclusion,\nhe initiated the modern, non-computer science, usage of the term "data science" and advocated that statistics be renamed data science and statisticians data scientists.[17]\nLater, he presented his lecture entitled "Statistics = Data Science?" as the first of his 1998 P.C. Mahalanobis Memorial Lectures.[19] These lectures honor Prasanta Chandra Mahalanobis, an Indian scientist and statistician and founder of the Indian Statistical Institute.\nIn 2001, William S. Cleveland introduced data science as an independent discipline, extending the field of statistics to incorporate "advances in computing with data" in his article "Data Science: An Action Plan for Expanding the Technical Areas of the Field of Statistics," which was published in Volume 69, No. 1, of the April 2001 edition of the International Statistical Review / Revue Internationale de Statistique.[20] In his report, Cleveland establishes six technical areas which he believed to encompass the field of data science: multidisciplinary investigations, models and methods for data, computing with data, pedagogy, tool evaluation, and theory.\nIn April 2002, the International Council for Science (ICSU): Committee on Data for Science and Technology (CODATA)[21] started the Data Science Journal,[22] a publication focused on issues such as the description of data systems, their publication on the internet, applications and legal issues.[23] Shortly thereafter, in January 2003, Columbia University began publishing The Journal of Data Science,[24] which provided a platform for all data workers to present their views and exchange ideas. The journal was largely devoted to the application of statistical methods and quantitative research. In 2005, The National Science Board published "Long-lived Digital Data Collections: Enabling Research and Education in the 21st Century" defining data scientists as "the information and computer scientists, database and software and programmers, disciplinary experts, curators and expert annotators, librarians, archivists, and others, who are crucial to the successful management of a digital data collection" whose primary activity is to "conduct creative inquiry and analysis."[25]\nAround 2007,[citation needed] Turing award winner Jim Gray envisioned "data-driven science" as a "fourth paradigm" of science that uses the computational analysis of large data as primary scientific method[4][5] and "to have a world in which all of the science literature is online, all of the science data is online, and they interoperate with each other."[26]\nIn the 2012 Harvard Business Review article "Data Scientist: The Sexiest Job of the 21st Century",[6] DJ Patil claims to have coined this term in 2008 with Jeff Hammerbacher to define their jobs at LinkedIn and Facebook, respectively. He asserts that a data scientist is "a new breed", and that a "shortage of data scientists is becoming a serious constraint in some sectors", but describes a much more business-oriented role.\nIn 2013, the IEEE Task Force on Data Science and Advanced Analytics[27] was launched. In 2013, the first "European Conference on Data Analysis (ECDA)" was organised in Luxembourg, establishing the European Association for Data Science (EuADS). The first international conference: IEEE International Conference on Data Science and Advanced Analytics was launched in 2014.[28] In 2014, General Assembly launched student-paid bootcamp and The Data Incubator launched a competitive free data science fellowship.[29]  In 2014, the American Statistical Association section on Statistical Learning and Data Mining renamed its journal to "Statistical Analysis and Data Mining: The ASA Data Science Journal" and in 2016 changed its section name to "Statistical Learning and Data Science".[30]  In 2015, the International Journal on Data Science and Analytics[31] was launched by Springer to publish original work on data science and big data analytics.  In September 2015 the Gesellschaft für Klassifikation (GfKl) added to the name of the Society "Data Science Society" at the third ECDA conference at the University of Essex, Colchester, UK.\nThe popularity of the term "data science" has exploded in business environments and academia, as indicated by a jump in job openings.[32] However, many critical academics and journalists see no distinction between data science and statistics. Writing in Forbes, Gil Press argues that data science is a buzzword without a clear definition and has simply replaced “business analytics” in contexts such as graduate degree programs.[7] In the question-and-answer section of his keynote address at the Joint Statistical Meetings of American Statistical Association, noted applied statistician Nate Silver said, “I think data-scientist is a sexed up term for a statistician....Statistics is a branch of science. Data scientist is slightly redundant in some way and people shouldn’t berate the term statistician.”[9] Similarly, in business sector, multiple researchers and analysts state that data scientists alone are far from being sufficient in granting companies a real competitive advantage[33] and consider data scientists as only one of the four greater job families companies require to leverage big data effectively, namely: data analysts, data scientists, big data developers and big data engineers.[34]\nOn the other hand, responses to criticism are as numerous. In a 2014 Wall Street Journal article, Irving Wladawsky-Berger compares the data science enthusiasm with the dawn of computer science. He argues data science, like any other interdisciplinary field, employs methodologies and practices from across the academia and industry, but then it will morph them into a new discipline. He brings to attention the sharp criticisms computer science, now a well respected academic discipline, had to once face.[35] Likewise, NYU Stern\'s Vasant Dhar, as do many other academic proponents of data science,[35] argues more specifically in December 2013 that data science is different from the existing practice of data analysis across all disciplines, which focuses only on explaining data sets. Data science seeks actionable and consistent pattern for predictive uses.[1]  This practical engineering goal takes data science beyond traditional analytics. Now the data in those disciplines and applied fields that lacked solid theories, like health science and social science, could be sought and utilized to generate powerful predictive models.[1]\nIn an effort similar to Dhar\'s, Stanford professor David Donoho, in September 2015, takes the proposition further by rejecting three simplistic and misleading definitions of data science in lieu of criticisms.[36] First, for Donoho, data science does not equate to big data, in that the size of the data set is not a criterion to distinguish data science and statistics.[36] Second, data science is not defined by the computing skills of sorting big data sets, in that these skills are already generally used for analyses across all disciplines.[36] Third, data science is a heavily applied field where academic programs right now do not sufficiently prepare data scientists for the jobs, in that many graduate programs misleadingly advertise their analytics and statistics training as the essence of a data science program.[36][37] As a statistician, Donoho, following many in his field, champions the broadening of learning scope in the form of data science,[36] like John Chambers who urges statisticians to adopt an inclusive concept of learning from data,[38] or like William Cleveland who urges to prioritize extracting from data applicable predictive tools over explanatory theories.[20] Together, these statisticians envision an increasingly inclusive applied field that grows out of traditional statistics and beyond.\nFor the future of data science, Donoho projects an ever-growing environment for open science where data sets used for academic publications are accessible to all researchers.[36] US National Institute of Health has already announced plans to enhance reproducibility and transparency of research data.[39] Other big journals are likewise following suit.[40][41] This way, the future of data science not only exceeds the boundary of statistical theories in scale and methodology, but data science will revolutionize current academia and research paradigms.[36] As Donoho concludes, "the scope and impact of data science will continue to expand enormously in coming decades as scientific data and data about science itself become ubiquitously available."[36]\n'

In [0]:
monster_url = 'https://www.monsterindia.com/data-science-jobs.html'
page = requests.get(monster_url).text
bs_obj = bs4.BeautifulSoup(page, 'html.parser')

In [0]:
titles = bs_obj.findAll('span', {'class': 'title_in'})
len(titles)

40

In [0]:
#titles[0].text

'Data Scientist'

In [0]:
job_titles = [job.text for job in titles]

AttributeError: ignored

In [0]:
companies = bs_obj.findAll('div', {'class': 'jtxt orange'})
len(companies)
companies[0]

<div class="jtxt orange"><a class="jtxt orange" href="//www.monsterindia.com/tuzen-technologies-private-limited-343665-jobs-careers.html" target="_blank" title="Tuzen Technologies Private Limited"><span>Tuzen Technologies Private Limited</span></a></div>

In [0]:
# Method 1: Get text directly
companies[0].text

'Tuzen Technologies Private Limited'

In [0]:
# Method 2: Search for anchor tag (child) and get its title attritute

companies[3].find('a',{'class': 'jtxt orange'}).get('title')

'Talent HR Networks Private Limited'

In [0]:
[x.find('a',{'class': 'jtxt orange'}).get('title')

AttributeError: ignored

In [0]:
companies_titles = []
companies = bs_obj.findAll('div', {'class': 'jtxt orange'})     
for i, company in enumerate(companies):
  try:
    title = company.find('a', {'class': 'jtxt orange'}).get('title')
    companies_titles.append(title)
  except AttributeError:
    print(i)
    companies_titles.append(float('nan'))
#titles

9

In [0]:
locations = bs_obj.findAll('div', {'class': 'jtxt jico ico1'})

[loc.text for i, loc in enumerate(locations)]

['Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore, Other International',
 'Bengaluru / Bangalore, Hyderabad / Secunderabad',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Mumbai',
 'Mumbai, Pune',
 'Bengaluru / Bangalore, Chennai',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Singapore',
 'Ahmedabad',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore, Hyderabad / Secunderabad',
 'Hyderabad / Secunderabad',
 'Delhi, Noida',
 'Gurgaon, Pune',
 'Bengaluru / Bangalore, Mumbai',
 'Noida',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad, Mumbai',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore, Gurgaon',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore']

In [0]:
job_titles_obj = bs_obj.findAll('span', {'class': 'title_in'})
job_titles = [job.text for job in job_titles_obj]

companies_titles = []
companies_obj = bs_obj.findAll('div', {'class': 'jtxt orange'})     
for i, company in enumerate(companies_obj):
  try:
    title = company.find('a', {'class': 'jtxt orange'}).get('title')
    companies_titles.append(title)
  except AttributeError:
    #print(i)
    companies_titles.append(float('nan'))
    

locations_obj = bs_obj.findAll('div', {'class': 'jtxt jico ico1'})
locations = [loc.text for i, loc in enumerate(locations_obj)]

jobs_data = pd.DataFrame({
    'title': job_titles,
    'company': companies_titles,
    'location': locations
})
jobs_data.head()

,company,location,title
0,Tuzen Technologies Private Limited,Bengaluru / Bangalore,Data Scientist
1,Inspiration Manpower Consultancy Private Limited,Bengaluru / Bangalore,Data Science Engineer Jobs in Bangalore
2,Multi Recruit,Bengaluru / Bangalore,Data Analyst / Scientist
3,Talent HR Networks Private Limited,Bengaluru / Bangalore,Looking Data Scientist In Bangalore Location
4,Inspiration Manpower Consultancy Private Limited,Bengaluru / Bangalore,Data Scientist

## Method Two: Go Job Wise

In [0]:
job_parents = bs_obj.findAll('div', {'class': 'jobwrap',
                                     'type': 'tuple'})
len(job_parents)

40

In [0]:
for job in job_parents:
  job_id = job.get('id')
  job_title = job.find('span', {'class': 'title_in'}).text
  print(job_id, job_title)

23085341 Data Scientist
23072893 Data Science Engineer Jobs in Bangalore
23080055 Data Analyst / Scientist
23075518 Looking  Data Scientist In Bangalore Location
23074832 Data Scientist
23073942 Data Scientist
22225602 Research Analyst, Executive Search
23028436 Python Developers - FRESHERS 2016 / 2017 / 2018
23025437 Data Scientist (Onsite in Kuala Lumpur- Immediate joinings required)
23014245 Hiring  Data Science Online Trainer / Instructor
23087414 Excellent Job Opportunity on  Data Science for Freshers
22998737 Data Scientist
23074521 Excellent Job Opportunity on  Data Science for IIT / NIT / BITS or Other top tier -I Candidates
23000420 ETL Lead &  Data Science
23000417 ETL Lead &  Data Science
23000415 ETL Lead &  Data Science
22993047 " Data Science" "Machine Learning", "Python"
22962858 Powerbi Admin
22962734 Looking for Project Manager Hyderabad
22957491 Singapore | JOB | Sr. Machine Learning Engineer | 1 Year Contract
22943607 Technical Content Writer
22940435 Data Scientist and Analyst
23005144 internship on  Data science
22891369 Data Science (Jupyter / Azure ML / MatLab)
22891366 Data Science (Jupyter / Azure ML / MatLab)
22891362 Data Science (Jupyter / Azure ML / MatLab)
22891357 Data Science (Jupyter / Azure ML / MatLab)
22885718 Lecturer  Data Science - Statistics, R - Noida - (Job Id:3183)
22885451 Data Science
22511273 Data Scientist
22902398 Data Scientist
22892051 Artificial Intelligence & Machine Learning
22888912 Artificial Intelligence & Machine learning (SME ) for Bangalore / Gurgaon with 4 - 8 yrs of Experience
22861405 Urgent Opening For  DATA Science
22877015 Data Analyst
22867351 Solution Architect- Machine learning
22866300 Excellent Job Opportunity with Indegene for  Data Scientist ROle
22863519 Senior / Lead Search Relevance Engineer
22861434 Hiring for  Data Scientist @ Banaglore MNC
22861415 Huge Hiring for  Data Scientist @ Banaglore in Leading MNC

In [0]:
# This is for my research purpose.
# I am going to scrape live tweets for latest movies and identify
# sentiment for each tweets. I will be doing exploratory data analysis
# and presenting the results in rich visuals. I will also be doing
# Topic modelling, document clustering. I will also create one
# social media monitor.